html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.center-container {
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.balloon {
    font-size: 30px;
}
